.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.ts
**/tsconfig*.json
node_modules/**
!node_modules/esbuild*/**
!node_modules/vite*/**
!node_modules/typescript/**
test/**
*.vsix
!bin/**
**/*.env
